*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml

test/data/barpolmesh_10000.jld2

test/data/barpolmesh_coarse_10000.jld2

test/data/cubepolmesh_10000.jld2

test/data/cubepolmesh_coarse_10000.jld2

test/data/barpolmesh_lesscoarse_10000.jld2

test/data/cubepolmesh_lesscoarse_10000.jld2

test/data/icopolmesh_coarse_10000.jld2

test/data/icopolmesh_lesscoarse_10000.jld2

test/data/icopolmesh_10000.jld2
